* {
    /*border-style: solid;*/
}

body {}

.header {
    display: flex;
    justify-content: space-between;
    height: 100px;

}

#menu_icon {
    margin-left: 10px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: auto;
    width: 25px;
}

#icon_upper {}

#icon_middle {}

#icon_lower {}

#Title {
    text-align: center;
    width: 50vw;
    margin: auto;
}

#Title h1 {
    font-size: 2rem;
}

#Login_icon {
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 10px;
    text-align: center;
    font-size: 1rem;
}

a {
    text-decoration: none;
    color: black;
}

.main {
    height: 500px;
    position: relative;
    
}

#main_button {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    display: flex;
    justify-content:space-evenly;
}

button {
    width: 200px;
    text-align: center;
    border-radius: 25px;
    border: 2px solid green;
    margin: 20px 10px;
    padding: 15px;
    background: transparent;
    position: relative;
    overflow: hidden;
}

button span {
    background: green;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: width 0.5s;
}

button:hover span {
    width: 100%;
}

button:hover {
    border: none;
}